<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mine"/>

    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置异常处理器-->
    <bean id="exceptionResolver" class="com.mine.exception.SysExceptionResolver"/>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
    <!--mapping表示要拦截的方法-->
            <mvc:mapping path="/hello/*"/>
            <!--mapping表示不需要拦截的方法,mapping与exclude-mapping选一个就可以-->
    <!--<mvc:exclude-mapping path=""/>-->
            <!-- 注册拦截器对象 -->
            <bean class="com.mine.interceptor.MineInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--配置文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"></property>
    </bean>
    <mvc:annotation-driven/>
</beans>